.SAADIA{
    border-color: orange;
    box-sizing: 10px;
    background-color: aquamarine;
}
h1{
    color: blue;
}
body{
    border-color: aquamarine;
}
.SAADIA{
background-color: blue;
}
class{
    background-color: aqua;
}
.saadia{
    border-color: aquamarine;
}
.w-64 border border-black p-5 m-5{
    border-color: aqua;
}